body{
   background: #ffffff;
   background: linear-gradient(132deg,#ffffff 0%, #00e9ff 40%, #ae00ff 80%);
   background: -webkit-linear-gradient(132deg,#ffffff 0%, #00e9ff 40%, #ae00ff 80%);
   background: -moz-linear-gradient(132deg,#ffffff 0%, #00e9ff 40%, #ae00ff 80%);
  background-repeat: no-repeat;
}

.registerOrLogin{
   padding: 50px 0;
  min-height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
.login input{
   color: #ffffff;
   &:focus{
      color: #ffffff;
   }   
}
.login{
   width: 400px;
   background-color: rgba(0, 0, 0, 0.2);
   padding: 2rem 2rem 1rem 2rem;
   border: solid 1px gray ;
   border-radius: 10px;
}
.login input::placeholder{
   color: white;
   background:none;
}
.faIcons{
  width: 30px;
}
.formInput{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.facolors{
   color: white;
}
.inputDiv{
   width: 350px;
}
#passwordValidspan{
   display: none;
   color: white;
   padding-left: 31px;
   font-style: italic;
}
#EmailOrPAssValid{
   margin: 0 0 10px 40px;
   font-weight: 600;
   color: rgb(155, 12, 12);
   font-style: italic;
   display: none;  
}
#UserValidate,#UserRegistered{
   margin: 0 0 10px 50px;
   font-weight: 600;
   color: rgb(155, 12, 12);
   font-style: italic;
 display: none;
}
#UserRegistered{
   color: rgb(39, 224, 39);
}

.headerBtns{
   padding: 5px 10px;
   width: 74px;
   border-radius: 7px;
   font-weight: 700;
   background:black;
   color: white;
}
.btnToggle{
   background: greenyellow;
   color: darkblue;
}
.errorSpan{
   display: block;
   margin-left: 40px;
}
.errorSpan{
   font-weight: bold;
   color: lightgreen;
   font-style: italic;
}
.loginPassword {
   margin-bottom: 10px;
}






